<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Lab4CE App">
  <meta name="keywords" content="virtual, remote, laboratory, VRL, computer, education">
  <meta name="author" content="Rémi Venant">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="appMountPoint"></div>
</body>

</html>
